@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
    --gallery-btn: #fff;
}

body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}




@media only screen and (max-width: 999999px) and (min-width: 1025px) {
    .gallery {
        display: none;
        width: 0px;
        height: 0px;
}
}


@media only screen and (max-width: 1024px) and (min-width: 501px){
    .gallery {
        display: none;
        width: 0px;
        height: 0px;
}
}


/* mobile slider */
@media handheld, only screen and (max-width: 500px) and (min-width: 0px){


.gallery {
    width: 100%;
    float: left;
    margin: auto;
    text-align: center;
    position: relative;
}

.gallery .buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    top: 50%;
    font-size: 3em;
    font-weight: bold;
}

.gallery a {
    text-decoration: none;
    font-size: 22px;
    /* display: block; */
    width: 50px;
    height: 100px;
    color: var(--gallery-btn);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    position: absolute;
    top: -80px;
}

.gallery a.prev {
    left: 1%;
}

.gallery a.next {
    right: 1%;
}

.gallery a:hover {
    color: #dfdfdf;
}

.gallery .photos {
    position: relative;
    height: 600px;
}

.gallery .block {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.gallery .block.active {
    opacity: 1;
}


.photos div{
    background-position: center;
	background-repeat: no-repeat;

}

.photos div span{
    font-size: 30px;
    text-shadow: #000 0px 0px 4px;
    color: #FFF;
    position: relative;
    top: 412px;
    
}



.block-1 {
    background-image: url("../sliders/img1.png");

}

.block-2 {
    background-image: url("../sliders/img2.png");

}

.block-3 {
    background-image: url("../sliders/img3.png");

}

.block-4 {
    background-image: url("../sliders/img4.png");

}


.block-5 {
    background-image: url("../sliders/img5.png");

}


.block-6 {
    background-image: url("../sliders/img6.png");

}
}
